.priceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.priceItem:nth-child(even) {
  background-color: #bbe7f5;
}
.priceItem:nth-child(odd) {
  background-color: #eaf4f7;
}
.priceTitle {
  font-family: var(--primefontfamily);
  font-size: 16px;
  width: 80%;
  padding: 20px 10px;
}
.priceCost {
  width: 20%;
  font-family: var(--primefontfamily);
  font-size: 16px;
  text-align: center;
}
.btnWrapper {
  display: flex;
  justify-content: center;
}
