.headerContainer {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  z-index: 999999999999999999999;
}

.containerInner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.breadcrumbsContainer {
  padding: 10px;
}

.navContainer {
  position: relative;
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
}
.mainContainer {
  margin-top: 110px;
}
.breadcrumbsContainer {
  display: none;
}

@media screen and (min-width: 780px) {
  .headerContainer {
    display: block;
    position: relative;
    box-shadow: none;
  }

  .navContainer {
    margin: 10px 0;
    background-color: #fafafa;
  }
  .breadcrumbsContainer {
    display: block;
  }
  .mainContainer {
    margin-top: 0;
  }
}
