.mobHidden {
  display: none;
}
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  overflow: hidden;
  transition: all 0.3s;
  padding: 10px 20px;
  background-color: rgba(4, 196, 255, 0.3);
  border-top: 1px solid var(--blueColor);
}

.navWrapper {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  overflow: hidden;
  transition: all 0.9s;
  background-color: white;
  padding: 20px;
}
.navActive {
  min-height: 100vh;
  transition: all 0.3s;
  opacity: 1;
  transform: translateX(0%);
}

.navWrapperActive {
  min-height: 100%;
  transition: all 0.9s;
  opacity: 1;
  transform: translateX(0%);
}
.menuButtonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--blueColor);
  padding: 10px 0;
}

.menuActiveWrapper {
  min-height: 100vh;
  transition: all 0.3s;
  transform: translateX(0%);
  border-top: 1px solid red;
}

.menuButtonItem,
.menuList {
  width: 100%;
  margin-bottom: 10px;
}
.menuButtonItem:last-child {
  margin-bottom: 0;
}

.menuItemLink {
  position: relative;
  display: block;
  font-family: var(--primefontfamily);
  color: var(--blackColor);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
}

.menuItemLink:hover {
  color: var(--blueColor);
  transition: all 0.2s;
  border-bottom: 1px solid var(--blueColor);
}
.menuItemLink::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 27%;
  right: 0;
  width: 14px;
  height: 14px;
  background-image: url("../../images/icons/arrow-right.svg");
  background-size: cover;
  vertical-align: top;
}
.menuItemLink::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: cover;
  vertical-align: top;
  margin-right: 10px;
}
.menuItem:nth-child(1) .menuItemLink::before {
  background-image: url("../../images/icons/information.svg");
}
.menuItem:nth-child(2) .menuItemLink::before {
  background-image: url("../../images/icons/directions.svg");
}
.menuItem:nth-child(3) .menuItemLink::before {
  background-image: url("../../images/icons/doctors.svg");
}
.menuItem:nth-child(4) .menuItemLink::before {
  background-image: url("../../images/icons/price.svg");
}
.menuItem:nth-child(5) .menuItemLink::before {
  background-image: url("../../images/icons/contacts.svg");
}

@media screen and (min-width: 780px) {
  .mobHidden {
    display: block;
  }
  .nav,
  .navWrapper {
    height: auto;
    background-color: transparent;
    border: none;
    position: unset;
    transform: translate(0%);
    padding: 0;
  }
  .nav {
    padding: 8px 0;
  }
  .desktopHidden {
    display: none;
  }

  .menuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuItemLink::after {
    display: none;
  }
  .menuList {
    margin-bottom: 0;
  }
  .menuItemLink::before {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }
  .navActive,
  .navWrapperActive {
    min-height: 100%;
    height: 100%;
  }
}
